'context-menu':
  'atom-text-editor': [
    {
      'label': 'Switch between code and test'
      'command': 'ruby-test-switcher:switch-without-split'
    },
    {
      'label': 'Switch between code and test (splitting)'
      'command': 'ruby-test-switcher:switch'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ruby Test Switcher'
      'submenu': [
        {
          'label': 'Switch between code and test'
          'command': 'ruby-test-switcher:switch-without-split'
        },
        {
          'label': 'Switch between code and test (splitting)'
          'command': 'ruby-test-switcher:switch'
        }
      ]
    ]
  }
]
