'context-menu':
  'atom-text-editor': [
    {
      'label': 'Switch to test/code file'
      'command': 'ruby-test-utilities:switch'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ruby Test Utilities'
      'submenu': [
        {
          'label': 'Switch to test/code file'
          'command': 'ruby-test-utilities:switch'
        }
      ]
    ]
  }
]
