'.platform-linux atom-workspace':
  'ctrl-shift-.': 'ruby-test-switcher:switch'

'.platform-darwin atom-workspace':
  'cmd-ctrl-.': 'ruby-test-switcher:switch'

'.platform-win32 atom-workspace':
  'ctrl-shift-.': 'ruby-test-switcher:switch'
