'.platform-linux atom-workspace':
  'alt-shift-.': 'ruby-test-switcher:switch'
  'alt-.': 'ruby-test-switcher:switch-without-split'

'.platform-darwin atom-workspace':
  'alt-shift-.': 'ruby-test-switcher:switch'
  'alt-.': 'ruby-test-switcher:switch-without-split'

'.platform-win32 atom-workspace':
  'alt-shift-.': 'ruby-test-switcher:switch'
  'alt-.': 'ruby-test-switcher:switch-without-split'
